<!DOCTYPE html>
<html>
  <head>
    <title>Rails6VueOauthSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div>Rails6VueOauthSample</div>
    <%= link_to "トップ", root_path %>
    <%= yield %>
    <%= stylesheet_pack_tag 'application_vue' %>
    <%= javascript_pack_tag 'application_vue' %>
  </body>
</html>
